In [1]:
import pandas as pd
import numpy as np

## Kitfox example

#### Read in data

In [2]:
df = pd.read_excel('MasterDF_Kern.xlsx', sheet_name='data')
df.head()

,FID,Area,Crop,CropX,FieldCropPrice,SavedWater,Recharge,Kitfox,KitfoxAcres,TiptonKRat,GiantGarterSnake,TNC,HabCorridors,ConservationAreas,ImpBirdAreas,Nitrate,ModSAGBI,Prox2Wetlands,Depth2GroundWater
0,45,70.791382,AlfalfaandAlfalfaMixtures,alfalfa-pasture,78836.822442,359.620220,12283.604016,100.0,70.791382,100.0,0.0,94.0,0.0,100.0,0.0,0.000000,42.0,0.0,20.0
1,72,81.343317,AlfalfaandAlfalfaMixtures,alfalfa-pasture,90587.985155,413.224051,1975.754272,100.0,81.343317,100.0,100.0,0.0,0.0,100.0,0.0,100.000000,0.0,100.0,5.0
2,91,28.286742,AlfalfaandAlfalfaMixtures,alfalfa-pasture,31501.529705,143.696647,3311.302980,100.0,28.286742,100.0,0.0,0.0,0.0,46.0,91.0,93.333333,98.0,0.0,20.0
3,116,6.073612,AlfalfaandAlfalfaMixtures,alfalfa-pasture,6763.878538,30.853951,417.364790,100.0,6.073612,100.0,0.0,0.0,0.0,100.0,0.0,83.333333,75.5,0.0,11.5
4,143,97.932855,AlfalfaandAlfalfaMixtures,alfalfa-pasture,109062.924182,497.498904,11437.290065,100.0,97.932855,100.0,4.0,0.0,83.0,100.0,0.0,0.000000,97.0,100.0,20.0

In [3]:
targets = pd.read_csv('targets.csv', index_col='region', thousands=',')
targets

        alfalfa-pasture     corn  field-crops-grains  veg-fruits  trees-vines
region
NW              21320.0   8400.0             85920.0      3880.0       3880.0
NE              56850.0   7750.0             23580.0      2260.0      16800.0
SW              36820.0   3880.0             72350.0      8400.0       7750.0
SE              38760.0  16150.0            124030.0       650.0       9690.0
KR              88500.0  54910.0             42640.0      3230.0      11630.0

In [4]:
targets_kr = targets.loc['KR']

#### Fallow alfalfa fields

In [5]:
#Subset df by crop type
crop_type = 'alfalfa-pasture'
df_alfalfa = df[df['CropX'] == crop_type]

#Specify the target
target = targets_kr[crop_type]

# Check that sufficient area is available to meet target
print("{}, crop area is equal to {:,.2f} and target is {:,.2f}".format(df_alfalfa.Area.sum() > target, df_alfalfa.Area.sum(), target))

False, crop area is equal to 80,767.86 and target is 88,500.00

In [7]:
#Randomly sort the data
df_alfalfa_random = df_alfalfa.sample(n=df_alfalfa.shape[0])

#Select fields until target is reached.
df_alfalfa_fallow = df_alfalfa_random[df_alfalfa_random['Area'].cumsum() < target]

#Check that target is met
df_alfalfa_fallow.Area.sum()

80767.85699676999

In [8]:
df_alfalfa_fallow.head()

,FID,Area,Crop,CropX,FieldCropPrice,SavedWater,Recharge,Kitfox,KitfoxAcres,TiptonKRat,GiantGarterSnake,TNC,HabCorridors,ConservationAreas,ImpBirdAreas,Nitrate,ModSAGBI,Prox2Wetlands,Depth2GroundWater
646,9533,58.684812,AlfalfaandAlfalfaMixtures,alfalfa-pasture,65354.341363,298.118847,4179.157844,100.0,58.684812,100.0,0.0,0.0,0.0,100.0,0.5,22.962963,10.0,100.0,9.0
1096,16339,12.998270,AlfalfaandAlfalfaMixtures,alfalfa-pasture,14475.523274,66.031211,2140.123956,100.0,12.998270,100.0,0.0,0.0,0.0,0.0,0.0,100.000000,0.0,100.0,10.0
206,3262,39.464763,AlfalfaandAlfalfaMixtures,alfalfa-pasture,43949.933549,200.480997,6497.748224,100.0,39.464763,0.0,0.0,0.0,0.0,100.0,0.0,0.000000,63.0,0.0,20.0
14879,5418,35.996362,MiscellaneousGrainandHay,alfalfa-pasture,30907.196298,66.953233,5840.780996,100.0,35.996362,0.0,0.0,0.0,100.0,100.0,0.0,3.333333,95.0,100.0,20.0
178,2767,45.016833,AlfalfaandAlfalfaMixtures,alfalfa-pasture,50132.996527,228.685514,7411.878993,100.0,45.016833,100.0,0.0,0.0,0.0,54.0,0.0,62.222222,85.0,0.0,20.0

In [9]:
#Sum the ecosystem services gained
kitfox = df_alfalfa_fallow.KitfoxAcres.sum()
kitfox

80621.07102097

In [ ]:
#Convert above to function that can be bootstrapped