# Optimized Outcomes

This section of the notebook calculates the optimal outcome for ecosystem services produced by fallowed land to meet SGMA targets by ranking parcels within each crop type by a weighted average ecosystem services metric and selecting the top ranked parcels by crop type to meet fallowing targets set by the [PPIC.](https://www.ppic.org/publication/water-and-the-future-of-the-san-joaquin-valley/) 

Weights may be adjusted before running the notebook. By default, all ecosystem services are equally weighted.

In [1]:
region_code = 'KR'

In [2]:
import pandas as pd
import numpy as np
from collections import OrderedDict
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Input from 010-data-prep
df = pd.read_csv('../outputs/df_' + region_code +'.csv')

In [4]:
# Path to output, use as input to future notebooks
outname = '../outputs/' + 'optimal_' + region_code +'.csv'

In [5]:
df.head()

,Unnamed: 0,FID,Area,Crop,FieldCropPrice,SavedWater,Recharge,Kitfox,TiptonKRat,GiantGarterSnake,...,TiptonKRat_Total,GiantGarterSnake_Total,TNC_Total,HabCorridors_Total,ConservationAreas_Total,ImpBirdAreas_Total,Nitrate_Total,ModSAGBI_Total,Prox2Wetlands_Total,Depth2GroundWater_Norm_Total
0,0,45,70.791382,AlfalfaandAlfalfaMixtures,78836.822440,359.620220,12283.604020,100.0,100.0,0.0,...,70.791382,0.000000,66.543899,0.00000,70.791382,0.000000,0.000000,29.732380,0.000000,70.791382
1,1,72,81.343317,AlfalfaandAlfalfaMixtures,90587.985160,413.224051,1975.754272,100.0,100.0,100.0,...,81.343317,81.343317,0.000000,0.00000,81.343317,0.000000,81.343317,0.000000,81.343317,20.335829
2,2,91,28.286742,AlfalfaandAlfalfaMixtures,31501.529700,143.696647,3311.302980,100.0,100.0,0.0,...,28.286742,0.000000,0.000000,0.00000,13.011901,25.740935,26.400959,27.721007,0.000000,28.286742
3,3,116,6.073612,AlfalfaandAlfalfaMixtures,6763.878538,30.853951,417.364790,100.0,100.0,0.0,...,6.073612,0.000000,0.000000,0.00000,6.073612,0.000000,5.061344,4.585577,0.000000,3.492327
4,4,143,97.932855,AlfalfaandAlfalfaMixtures,109062.924200,497.498904,11437.290070,100.0,100.0,4.0,...,97.932855,3.917314,0.000000,81.28427,97.932855,0.000000,0.000000,94.994870,97.932855,97.932855

In [6]:
eco_services = ['SavedWater_Norm', 'Recharge_Norm', 'Kitfox',
                'TiptonKRat', 'GiantGarterSnake', 'TNC', 'HabCorridors',
                'ConservationAreas', 'ImpBirdAreas', 'Nitrate', 'ModSAGBI',
                'Prox2Wetlands', 'Depth2GroundWater_Norm']
crop_types =

In [7]:
# Create weights table with equal weights
# weight_vals = [1/len(eco_services)] * len(eco_services)
# out = OrderedDict(list(zip(eco_services, weight_vals)))
# out_df = pd.DataFrame(weight_vals, index = eco_services, columns = ['weights'])
# out_df.to_csv('../data/weights.csv')

In [8]:
weight_table = pd.read_csv('../data/weights.csv', index_col=0)
weight_table

                        weights
SavedWater_Norm             0.0
Recharge_Norm               0.0
Kitfox                      0.2
TiptonKRat                  0.2
GiantGarterSnake            0.0
TNC                         0.2
HabCorridors                0.2
ConservationAreas           0.2
ImpBirdAreas                0.0
Nitrate                     0.0
ModSAGBI                    0.0
Prox2Wetlands               0.0
Depth2GroundWater_Norm      0.0

In [9]:
weights = np.array(weight_table['weights'])
weights

array([0. , 0. , 0.2, 0.2, 0. , 0.2, 0.2, 0.2, 0. , 0. , 0. , 0. , 0. ])

In [10]:
weights.shape[0] == df[eco_services].shape[1]

True

In [11]:
weight_table.index.values == df[eco_services].columns.values

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [12]:
df['outcome'] = pd.Series(np.average(df[eco_services], weights=weights, axis=1))
df.head()

,Unnamed: 0,FID,Area,Crop,FieldCropPrice,SavedWater,Recharge,Kitfox,TiptonKRat,GiantGarterSnake,...,GiantGarterSnake_Total,TNC_Total,HabCorridors_Total,ConservationAreas_Total,ImpBirdAreas_Total,Nitrate_Total,ModSAGBI_Total,Prox2Wetlands_Total,Depth2GroundWater_Norm_Total,outcome
0,0,45,70.791382,AlfalfaandAlfalfaMixtures,78836.822440,359.620220,12283.604020,100.0,100.0,0.0,...,0.000000,66.543899,0.00000,70.791382,0.000000,0.000000,29.732380,0.000000,70.791382,78.8
1,1,72,81.343317,AlfalfaandAlfalfaMixtures,90587.985160,413.224051,1975.754272,100.0,100.0,100.0,...,81.343317,0.000000,0.00000,81.343317,0.000000,81.343317,0.000000,81.343317,20.335829,60.0
2,2,91,28.286742,AlfalfaandAlfalfaMixtures,31501.529700,143.696647,3311.302980,100.0,100.0,0.0,...,0.000000,0.000000,0.00000,13.011901,25.740935,26.400959,27.721007,0.000000,28.286742,49.2
3,3,116,6.073612,AlfalfaandAlfalfaMixtures,6763.878538,30.853951,417.364790,100.0,100.0,0.0,...,0.000000,0.000000,0.00000,6.073612,0.000000,5.061344,4.585577,0.000000,3.492327,60.0
4,4,143,97.932855,AlfalfaandAlfalfaMixtures,109062.924200,497.498904,11437.290070,100.0,100.0,4.0,...,3.917314,0.000000,81.28427,97.932855,0.000000,0.000000,94.994870,97.932855,97.932855,76.6

In [13]:
df_optimal = pd.DataFrame(columns=df.columns)
for crop in crop_types:
    df_crop = df[df['Crop_PPIC'] == crop]
    target = targets.loc[region, crop]
    df_crop_sorted = df_crop.sort_values(['PricePerAcre','outcome'], ascending=[True,False])
    # Identify fields up to target
    df_fallow_bool = df_crop_sorted['Area'].cumsum() < target
    # Get one additional field by updating value from False to True where 
    # first instance of False is located
    if not df_fallow_bool[df_fallow_bool!=True].empty:
        index = df_fallow_bool[df_fallow_bool!=True].index[0]
        df_fallow_bool.at[index]=True        
    df_crop_fallow = df_crop_sorted[df_fallow_bool]
    df_optimal = df_optimal.append(df_crop_fallow, ignore_index=True)
outcomes = pd.DataFrame(df_optimal[outcome_cols].sum()).T
areas = df_optimal[['Area','Crop_PPIC']].groupby('Crop_PPIC').sum().T
areas.reset_index(drop=True, inplace=True)
output = pd.concat([outcomes, areas], axis=1, sort=False)

NameError: name 'crop_types' is not defined

In [ ]:
df_optimal.head(10)

In [ ]:
df_optimal.to_csv(out_name)

In [ ]:
plot_cols = outcome_cols[:1] + outcome_cols[2:] #Exclude FieldCropPrice
optimal = df_optimal[plot_cols].sum()
as_usual = trials[plot_cols].mean()
pct_chg = (optimal - as_usual)/as_usual
sns.barplot(x = pct_chg, y = df_optimal[plot_cols].columns)

In [ ]:
optimal_cost = df_optimal['FieldCropPrice'].sum()
print(f'${optimal_cost.sum():,.2f}')

In [ ]:
average_cost = trials['FieldCropPrice'].mean()
print(f'${average_cost:,.2f}')

In [ ]:
cost = df_optimal['FieldCropPrice'].sum() - trials['FieldCropPrice'].mean()
print (f'The cost of this optimization is ${cost:,.0f}')

In [ ]:
for crop in crop_types:
    area_diff = df_optimal[df_optimal['Crop_PPIC']==crop]['Area'].sum() - trials[crop].mean()
    print (f'{area_diff:,.2f} acres of {crop}')

In [ ]:
df.columns

In [ ]:
sns.regplot(y=df_optimal['outcome'], x=df_optimal['PricePerAcre'])

In [ ]:
sns.distplot(trials['FieldCropPrice'], rug=True)
plt.axvline(x = df_optimal['FieldCropPrice'].sum(), color='red')
plt.axvline(x = trials['FieldCropPrice'].mean())
sns.despine()

In [ ]:
sns.distplot(df.dropna(subset=['outcome'])['outcome'])

In [ ]:
sns.distplot(df_optimal.dropna(subset=['outcome'])['outcome'])

In [ ]:
sub_crops = df['Crop'].unique()
sub_crops

In [ ]:
len(sub_crops)

In [ ]:
data = df_optimal[df_optimal['Crop']=='AlfalfaandAlfalfaMixtures']
x = data['PricePerAcre']
y = data['outcome']

In [ ]:
df_by_crop = df_optimal.groupby(['Crop']).mean()
df_by_crop

In [ ]:
crop_mean_outcome = df_optimal['outcome'].mean()
sns.barplot(data=df_optimal, x='outcome', y='Crop', estimator = (lambda x: np.mean(x)-crop_mean_outcome), ci=90)

# Mapping

In [ ]:
import geopandas as gpd

In [ ]:
fields = gpd.read_file('kern.json')

In [ ]:
fields_to_map = fields.set_index('FID_1').join(df_optimal.set_index('FID'), how='inner')

In [ ]:
plt.rcParams["figure.figsize"] = (20,10)

In [ ]:
base = fields.plot(color = 'grey')
fields_to_map.plot(ax=base, column='outcome', cmap='plasma', legend=True)